.main-header {
    text-align: center;
}

.main-footer {
    text-align: center;
}

.introduction {
    text-align: center;
}

.headshot {
    width: 300px;
    height: auto;
    align-content: center;
}